#
# Set to your RAP project ID, you can find your RAP project IDs with:
#	dx find projects
#
PROJECT_ID=project-GbfkqPQJgp3f3yZ26F3GG536

#
# Set to the directory in your RAP project you want to install the pipeline
#
PROJECT_DIR=/WES/test

# 
# Set to your latest RAP dataset from which phenotype data will be extracted:
#	dx ls '/*.dataset'
#
DATASET=/app43027_20231210173935.dataset

#
# Association testing options
#
pheno=UKB_LF_FEV1_AMR.txt
covar=UKB_LF_covar_AMR.txt
covarColList="PC{1:10}"
catCovarList=array

# Set to false for quantitative traits, true for binary traits
bt=false

# Select from additive, dominant and recessive e.g. "additive recessive"
models="additive"

# Specify a list of SNPs to run association testing on
#extract=snps.keep

# Specify a subset of chromosomes to run collapsing tests on
#chroms="21 22"

# Collapsing mask to use
mask=backmask.def

# Prefix for results files
output_prefix=UKB_AMR

# Output directory for results
RESULTS=/WES/test/AMR
