. options.config

DOCKER_TAG=legenepi/rare_variant_analysis
DOCKER_SAVE=rare_variant_analysis.docker.tar.gz
EXTRA_OPTIONS=extraOptions.json
PLINK2_VERSION=avx2_20240704
PLINK2=plink2_linux_$PLINK2_VERSION
REGENIE_VERSION=3.5

DXCOMPILER_URL=https://github.com/dnanexus/dxCompiler/releases/download/2.11.4/dxCompiler-2.11.4.jar
DXCOMPILER=`basename $DXCOMPILER_URL`
WOMTOOL_URL=https://github.com/broadinstitute/cromwell/releases/download/85/womtool-85.jar
WOMTOOL=`basename $WOMTOOL_URL`

GENO_BASE="/Bulk/Genotype Results/Genotype calls/ukb22418_c*"

WDL="regenie_step1.wdl  regenie_step2.wdl"
INPUTS_STEP1=inputs_regenie_step1.json
